.container {
  max-width: $website-width;
  height: 100%;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

%btn-shared {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border: none;
  color: $dark-color;
  background-color: $light-color;
  margin-top: 1rem;
  transition: all 0.5s linear;
}
