@import "config";
@import "utilities";
@import "global";
.nav {
  display: flex;
  justify-content: space-between;
  &__logo {
    color: $light-color;
    font-size: 2.5rem;
    cursor: pointer;
  }
  &__list {
    display: flex;
  }
  &__link {
    display: inline-block;
    color: $light-color;
    padding: 1rem 1.5rem;
    border-bottom: 0.1875rem solid transparent;
    &:hover {
      color: $main-color;
    }
    &--current {
      border-bottom: $main-color 0.1875rem solid;
    }
  }
}
// navbar

.header__home {
  background: $bg-img no-repeat center center/cover;
  height: 100vh;
  //   showcase
  &__showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -4rem;
    color: $light-color;
  }
  &__heading {
    font-size: $l-heading;
  }
  &__para {
    font-size: 1.3rem;
  }
  &__btn {
    @extend %btn-shared;
    &:hover {
      background-color: $main-color;
    }
  }
}
